.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;  /* Responsive padding */
  font-family: 'Inter', sans-serif;
  width: 90%;    /* Responsive width */
  max-width: 990px;
  max-height: fit-content;
  margin: 2vw auto;  /* Responsive margin */
  border-radius: 8px;
  background-color: #f4f4f4;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}
    
  .container:hover {
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7; /* Or any color you want for the background */
    padding: 20px;
  }
  
    
    .title {
      font-size: 24px;
      font-weight: bold;
      color: black;
      margin-bottom: 20px;
    }

    .title2 {
      font-size: 9px;
      color: black;
      margin-bottom: 20px;
    }

    .title3 {
      font-size: 30px;
      color: black;
      text-align: center;
    }

    h2 {
      font-size: 60px;
      color: black;
    }

    .banner {
      font-size: 45px;
      margin-bottom: 20px;
      text-align: center;
    }

    .subTitle {
      font-size: 20px;
      font-weight: bold;
      color: #19b394;
    }
    
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .listItem {
      font-size: 16px;
      color: black;
      line-height: 1.6;
      padding: 8px 0; /* Padding to space out items */
    }

    .listItem2 {
      font-size: 16px;
      color: #666;
      line-height: 1.6;
      padding: 8px 0; /* Padding to space out items */
      text-align: center;
    }
    
    .button {
      background-color: #15b1e2;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      font-weight: bold;
      transition: background-color 0.3s;
      margin-top: 20px;
    }
    
    .button:hover {
      background-color: #139bcf;
    }

    /* Media Queries for further adjustments */
@media (max-width: 768px) { /* For tablets and below */
  .title, .styledText {
    font-size: calc(15px + 1vw); /* Slightly larger scaling factor for smaller devices */
  }

  .listItem {
    font-size: calc(12px + 1vw); /* Adjust font size for readability */
  }

  .subTitle {
    font-size: calc(16px + 1vw); /* Adjust font size for readability */
  }

  .title2 {
    font-size: calc(14px + 1vw); /* Adjust font size for readability */
  }

  .title3 {
    font-size: calc(14px + 1vw); /* Adjust font size for readability */
  }


}

@media (max-width: 480px) { /* For mobile phones */
  .title, .styledText {
    font-size: calc(14px + 1.5vw); /* Larger scaling factor for very small screens */
  }

  .listItem {
    font-size: calc(9px + 1.5vw); /* Larger scaling factor for readability on phones */
  }

  .listItem2 {
    font-size: calc(9px + 1.5vw); /* Larger scaling factor for readability on phones */
  }

  .subTitle {
    font-size: calc(11px + 1.5vw); /* Larger scaling factor for readability on phones */
  }

  .title2 {
    font-size: calc(12px + 1.5vw); /* Larger scaling factor for readability on phones */
  }

  .title3 {
    font-size: calc(12px + 1.5vw); /* Larger scaling factor for readability on phones */
  }


}

/* Media Queries */
@media (max-width: 768px) { /* For tablets and below */
  .container {
    padding: 5%;  /* Increase padding */
    margin: 5% auto; /* Increase margin */
  }
}

@media (max-width: 480px) { /* For mobile phones */
  .container {
    flex-direction: column;
    padding: 10%;  /* More padding on smaller screens */
    margin: 10% auto; /* More margin on smaller screens */
    width: 100%;   /* Use full width */
  }
}
