.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 35px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 1000px;
    margin: 30px 275px;
    border-radius: 8px;
    background-color: #f4f4f4;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow effect */
  } 
    
  .container:hover {
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7; /* Or any color you want for the background */
    padding: 20px;
  }
  
    
    .title {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }
    
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .listItem {
      font-size: 16px;
      color: #666;
      line-height: 1.6;
      padding: 8px 0; /* Padding to space out items */
    }
    
    .button {
      background-color: #15b1e2;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      font-weight: bold;
      transition: background-color 0.3s;
      margin-top: 20px;
    }
    
    .button:hover {
      background-color: #139bcf;
    }
