.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;  /* Responsive padding */
  font-family: 'Inter', sans-serif;
  width: 90%;    /* Responsive width */
  max-width: 990px;
  max-height: fit-content;
  margin: 2vw auto;  /* Responsive margin */
  border-radius: 8px;
  background-color: #f4f4f4;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}
  
.container:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}


.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Or any color you want for the background */
  padding: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

  
  .title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
  }

  
  .subTitle {
    font-size: 20px;
    color: black;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    font-size: 21px;
    color: #19b394;
    font-weight: bold;
    line-height: 1.6;
    padding: 8px 0; /* Padding to space out items */
  }

  .flo {
    background-color:  #19b394;
    color: #19b394; 
  }

  .styledText {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 1.6;
    padding: 8px 0; /* Padding to space out items */
  }

  .props {
    box-shadow: none;
    color: black;
    cursor: default;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .button {
    background-color: #15b1e2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #139bcf;
  }
  
  /* PersonaPage.module.css */
.radio {
  margin-right: 10px; /* Adjust the value as needed */
  color: #19b394 !important;
  --tw-shadow: none !important;
}

  /* Media Queries for further adjustments */
  @media (max-width: 768px) { /* For tablets and below */
    .title, .styledText {
      font-size: calc(15px + 1vw); /* Slightly larger scaling factor for smaller devices */
    }
  
    .listItem {
      font-size: calc(12px + 1vw); /* Adjust font size for readability */
    }
  
    .subTitle {
      font-size: calc(16px + 1vw); /* Adjust font size for readability */
    }
  }
  
  @media (max-width: 480px) { /* For mobile phones */
    .title, .styledText {
      font-size: calc(14px + 1.5vw); /* Larger scaling factor for very small screens */
    }
  
    .listItem {
      font-size: calc(12px + 1.5vw); /* Larger scaling factor for readability on phones */
    }
  
    .subTitle {
      font-size: calc(14px + 1.5vw); /* Larger scaling factor for readability on phones */
    }

    .flo {
      margin-left: -7px;
    }
  }
  
  /* Media Queries */
  @media (max-width: 768px) { /* For tablets and below */
    .container {
      padding: 5%;  /* Increase padding */
      margin: 5% auto; /* Increase margin */
    }
  }
  
  @media (max-width: 480px) { /* For mobile phones */
    .container {
      flex-direction: column;
      padding: 10%;  /* More padding on smaller screens */
      margin: 10% auto; /* More margin on smaller screens */
      width: 100%;   /* Use full width */
    }
  }