{{ block style }}

<style>
  .custom-button button {
    background-color: #15b1e2; /* Blue background */
    color: white; /* White text */
    padding: 8px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Bold font */
    border: none;
    border-radius: 4px; /* Rounded corners like MUI */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    box-shadow: 0 3px 5px 2px rgba(88, 88, 88, 0.3); /* Shadow effect like MUI */
    margin: auto;
    margin-top: 30px;
    display: block;
    margin-right: 90%;
  }

  .custom-button button:hover {
    background-color: #1d9dc4; /* Darker shade of blue for hover state */
    box-shadow: 0 5px 7px 3px rgba(93, 96, 97, 0.3); /* Larger shadow for hover effect */
  }

  /* Additional pseudo-elements for focus and active states if desired */
  .custom-button button:focus {
    background-color: #17a2d8; /* Slightly lighter shade for focus state */
    outline: none; /* Removes default outline */
  }

  .custom-button button:active {
    background-color: #138bb1; /* Even darker for click state */
    box-shadow: 0 2px 4px 1px rgba(21, 177, 226, 0.25); /* Smaller shadow for active state */
  }
</style>

{{ endblock }} {% load otree static %} {% block title %} Demographics {%
endblock %} {% block content %}
<form method="post" id="demographicForm">
  <div>
    <label>{{ form.age.label }}</label>
    {{ form.age }}
    <br />
  </div>
  <div>
    <label>{{ form.gender.label }}</label>
    {{ form.gender }}
    <br />
  </div>
  <div>
    <label>{{ form.education.label }}</label>
    {{ form.education }}
  </div>
  <div class="custom-button">
    <button type="submit">NEXT &#x279C;</button>
  </div>
</form>

{% endblock %}
